
h1 {
    color: midnightblue;
}

.game {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.score {
    margin-top: 2em;
}
.scoretable {
    display: flex;
}
h3 {
    color: rebeccapurple;
    font-size: 1.1em;
}
.playerO {
    margin-left: 3em;
}
.playerX {
    margin-right: 3em;
    margin-left: 50vw;
}

.footer {
    text-align: center;
    line-height: 2em;

}
.resetBtn {
    margin-top: 2em;
    background-color: rebeccapurple;
}

.result {
    padding: 1em;
    font-weight: 500;
}

.win { 
    color: green;
}

.draw {
    color: orange;
}